body {
  border-style: hidden;
  font-family: Helvetica, sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 1.2;
  max-width: 850px;
  padding: .15in;
  word-spacing: normal;
  margin: auto;
  margin-top: 5px;
  color: #333f48;
}

a.menuitem, a.menuitem:link, a.menuitem:visited {
  display: block;
  padding: 18px 10px 25px 25px;
  font-size: 110%;
  font-weight: 700;
  color: #333f48;
  text-decoration: none;
}

a.menuitem:hover, a.menuitem:active {
  color: #BF5700;
}

#name {
  float: left;
  vertical-align: middle;
  margin: 10px 0px;
  color: #333f48;
}

#menubar {
  border-top: 5px solid #BF5700;
  overflow: hidden;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  width: 100%;
  height: 50px;
}

#menubar h1 {
  display: inline;
  padding: 0px;
}

#menubar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: normal;
  display: inline;
  float: right;
}

#menubar li {
  display: inline-block;
}

#personal {
  width: 100%;
}

.content {
  float: left;
  width: 100%;
}

.sectionhead {
  border-bottom: solid 2px #BF5700;
}

.sectiontitle {
  color: #333f48;
  margin-bottom: 5px;
}

#contact {
    float: left;
}

#bio {
    float: left;
    margin-top: 10px;
}

#photo {
  float: left;
  margin-right: 30px;
}

#portrait {
  height: 200px;
}